这是一个基于Nodejs+JavaScript+express的后端程序，在开发过程中需要遵循以下规范和约定：
1. 编写简洁、可维护且技术准确的 JavaScript 代码，尽量使用函数式、声明式编程，避免使用类;  
2. 以迭代和模块化的方式编写代码，遵循 DRY 原则，避免重复代码。
3. 代码必须经过单元测试，且单元测试覆盖率必须达到 100%。
4. 使用带有辅助动词的描述性变量名（例如：isLoading, hasError）。
5. 系统性地组织文件：每个文件仅包含相关内容，例如导出的组件、子组件、帮助函数、静态内容以及类型。
6. 使用驼峰命名法（camelCase）来命名变量和函数。
7. 使用 Swagger 生成API文档， 并且在开发过程中不断更新文档。
8. 编写完整的README.md文件，在使用Swagger 生成API文档的基础上，更新文档，并在开发过程中不断更新。
9. 项目中使用的是yarn作为包管理工具。
10. 将路由和控制器分离，控制器代码在src/controllers目录下, 路由代码在src/routes目录下，单元测试代码在src/__test__目录下。
11. 在完成接口代码的编写/更新之后记得 添加/更新Swagger文档, 更新README， 添加/更新单元测试。